<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Day in the Life of DaveDaAverageDude
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Day in the Life of DaveDaAverageDude</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img *ngIf="endingPic" src={{displayScene.assets}} alt="qq" style="width: 250px;">
    <br>
    <strong>{{displayScene.senarios}}</strong>
    <br>
    <ion-button *ngIf="show" (click)='pointSystem(displayScene.points1)' (click)='nextScene(displayScene.result1)'>{{displayScene.choice1}}</ion-button>
    <ion-button *ngIf="show" (click)='pointSystem(displayScene.points2)' (click)='nextScene(displayScene.result2)'>{{displayScene.choice2}}</ion-button>
    <ion-button *ngIf="ending" routerLink='/home'>Home</ion-button>
  </div>
</ion-content>
