<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Day in the Life of DaveDaAverageDude
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Day in the Life of DaveDaAverageDude</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to go into a Day in the Life of Dave?</strong>
    <br>
    <ion-button routerLink='/game'>Play</ion-button>
    <ion-button routerLink='/options'>Options</ion-button>
  </div>
</ion-content>
